body{
    background-color:rgba(194, 194, 194, 0.836);

}

.lista{
    display: flex;
    padding-left: 5vmin;
    font-size: 7vmin;
    font-style: bold;
}

.lista a{
    text-decoration: none;
    color: black;
}

.coming_soon{
    padding-left: 5vmin;
    font-size: 7vmin;
    font-style: bold;
}

.coming_soon b{
    font-size: 3vmin;
    color: red;    
}

.fas.fa-home{
    font-size: 25vmin;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5vmin;
}

.ikonka{
    color: black;
}
